[
  {
    "name": "crm",
    "image": "${crm_image_url}",
    "memory": ${fargate_container_memory},
    "cpu": ${fargate_container_cpu},
    "networkMode": "awsvpc",
    "portMappings": [
      {
        "containerPort": ${app_port},
        "hostPort": ${app_port}
      }
    ]
  }
]
